<div{{ content_attributes }}>

  
<div class="row position-relative">
  <div class="col-6">
    {{content.field_speaker_image}}
  </div>
  <div class="col-6 position-absolute top-50 start-50">
   <h1 class="text-align-center me-5"> {{content.field_speaker_name_and_surname}} </h1>
  </div>
</div>

<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ content.field_speaker_title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">{{ content.field_speaker_work_area}}</th>
    </tr>
    <tr>
      <th scope="col">{{ content.field_speaker_resume}}</th>
    </tr>
    <tr>
      <th scope="col">{{ content.field_speaker_linkedin_profile }}</th>
    </tr>
  </tbody>
</table>

</div>

</div>


